.App {
	position: relative;
	overflow: hidden;

	nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		z-index: 9999;
		.navbar {
			$text: rgb(129, 129, 129);
			background-color: rgb(255, 255, 255);
			$dec: blue;
			display: flex;
			justify-content: flex-start;
			padding: 1rem 2rem;
			margin: 0;
			color: $text;
			list-style: none;
			box-shadow: 0 3px 10px rgba(0, 0, 0, 0.123);

			:link,
			:visited {
				color: $text;
				text-decoration: none;
			}

			.--item {
				display: inline-block;
				padding: 0.25rem 1.5rem;

				&:after {
					content: "";
					display: block;
					height: 0.2rem;
					background: $dec;
					width: 0;
					border-radius: 99px;
				}

				&:hover:after {
					transition: all 0.2s ease-in-out;
					width: 100% !important;
				}

				&.active {
					color: black;

					&:after {
						width: 100% !important;
					}
				}
			}
			.login {
				margin-left: auto;

				img {
					max-height: 2rem;
					border-radius: 200px;
					margin-left: 0.5rem;
					margin-bottom: -0.75rem;
				}
			}
		}
	}
}
