@import url('https://css.gg/add-r.css');

.kanban.page {
	padding: 2rem 0;
	display: flex;
	justify-content: space-evenly;
	position: relative;

	.add-card {
		position: fixed;
		bottom: 100px;
		width: 50px;
		height: 50px;
		border-radius: 10px;
		background-color: #8b92bb;
		display: flex;
		justify-content: center;
		align-items: center;
		
	}
	.col {
		flex-basis: 35ch;
		height: 85%;
		background: #f3f3f3;
		box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.055);
		border-radius: 1rem;
		display: flex;
		flex-direction: column;
		position: relative;
		overflow: hidden;
		overflow-y: auto;
		h3 {
			text-transform: uppercase;
			text-align: center;
			font-size: 1.4rem;
			font-weight: 700;
			color: #ff6584;
			margin: 1rem 0;
		}
		.card {
			position: relative;
			margin: 1rem 1.5rem;
			padding: 0.8rem;
			border-radius: 0.5rem;
			color: #8b92bb;
			background-color: white;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

			h4 {
				font-weight: 600;
				font-size: 1.2rem;
				margin-bottom: 0.3rem;
				color: #677097;
			}
			.desc {
				margin: 0.75rem 0;
			}

			.date {
				display: block;
				font-size: 0.7rem;
			}

			&::after {
				content: "";
				border-radius: 0 0.5rem 0.5rem 0;
				background-color: #a6d4ff;
				width: 0.35rem;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
			}
			&.mid::after {
				background-color: #ffdba6;
			}
			&.high::after {
				background-color: #fe9a9a;
			}
			&:last-child {
				margin-bottom: 3.5rem;
			}
		}
	}
}

.createcard {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	top: 0;
	left: 0;
	z-index: 1000;
	form {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 500px;
		padding: 50px;
		background-color: #fff;
		border-radius: 1rem;
	}
	.close {
		position: absolute;
		top: 1.5rem;
		right: 1.5rem;
		background: #fff;
		border: 0;
		padding: 0 10px 0 10px;
		svg {
			fill: #ff6584;
		}
		&:focus {
			outline: none;
		}
		&:hover {
			cursor: pointer;
		}
	}
	.content {
		padding: auto;
		h4 {
			text-align: center;
			font-size: 1.5rem;
			color: #7e60ee;
		}
		.title {
			width: 90%;
			padding: 1rem;
			background-color: #fff;
			border-radius: 0.5rem;
			label {
				padding-bottom: 0.5rem;
				font-size: 1rem;
				color: #6e6e6e;
			}
			input {
				width: 95%;
				padding: 0.5rem;
				border: none;
				border-radius: 0.25rem;
				background-color: #f0f0f0;
			}
		}
		.desc {
			width: 90%;
			padding: 1rem;
			background-color: #fff;
			border-radius: 0.5rem;
			label {
				font-size: 1rem;
				color: #6e6e6e;
			}
			textarea {
				width: 95%;
				padding: 0.5rem;
				border: none;
				border-radius: 0.25rem;
				background-color: #f0f0f0;
			}
		}
		.priority {
			width: 90%;
			padding: 1rem;
			background-color: #fff;
			border-radius: 0.5rem;
			label {
				font-size: 1rem;
				color: #6e6e6e;
			}
			select {
				width: 95%;
				padding: 0.5rem;
				border: none;
				border-radius: 0.25rem;
				background-color: #f0f0f0;
			}
		}
		.deadline {
			width: 90%;
			padding: 1rem;
			background-color: #fff;
			border-radius: 0.5rem;
			label {
				font-size: 1rem;
				color: #6e6e6e;
			}
			input {
				width: 95%;
				padding: 0.5rem;
				border: none;
				border-radius: 0.25rem;
				background-color: #f0f0f0;
			}
		}
		.btnholder {
			text-align: center;
			button {
				font-size: 1rem;
				width: 5rem;
				height: 2rem;
				border: none;
				background-color: #7e60ee;
				color: white;
				font-weight: 500;
				border-radius: 0.25rem;
				&:focus {
					outline: none;
				}
				&:hover {
					cursor: pointer;
				}
				box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.3);
			}
		}
	}
}