@import url("https://css.gg/check.css");
nav {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	$text: #7780b1;
	background-color: rgb(255, 255, 255);
	$dec: blue;
	color: $text;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.123);
	height: 60px;
	z-index: 999;

	.navbar {
		display: flex;
		justify-content: space-between;
		width: 95%;
		margin: auto;
		height: 100%;

		a {
			color: $text;
			text-decoration: none;
			display: flex;
			align-items: center;
			height: 100%;
		}
		.start,
		.end {
			display: flex;
			height: 100%;
		}
		.nav-item {
			height: 100%;
			display: flex;
			align-items: center;
			padding: 0 1rem;
			font-size: 1.2rem;
			cursor: pointer;
			position: relative;
			text-align: center;

			img {
				height: 2rem;
				width: auto;
				border-radius: 50%;
			}

			&.brand img {
				height: 3rem !important;
				padding-right: 0.5rem;
			}
			&:not(.brand):not(.profile):not(.bell):not(.project-title) .active {
				font-weight: 600;
				color: #182661;
			}
			&.project-title a {
				font-weight: 500;
				color: #7e60ed;
			}

			&:not(.brand):not(.profile):not(.bell) a::after {
				position: absolute;
				bottom: 0.5rem;
				left: 50%;
				transform: translateX(-50%);
				content: "";
				display: block;
				height: 0.2rem;
				background-color: #7e60ed;
				opacity: 0;
				width: 0;
				border-radius: 99px;
				transition: all 0.1s ease-in-out;
			}

			&:not(.brand):not(.profile):not(.bell):hover a::after {
				width: 80% !important;
				opacity: 0.9;
			}

			&.bell {
				img {
					height: 1.8rem;
				}
				&.unseen::after {
					content: "";
					height: 10px;
					width: 10px;
					position: absolute;
					top: 12px;
					right: 10px;
					left: auto;
					bottom: auto;
					border-radius: 100%;
					background-color: red;
				}
			}
			&.dropdown {
				position: relative;
				font-size: 1rem;

				.dropdown-box {
					display: none;
					position: absolute;
					min-width: 150px;
					right: 0;
					background: #fff;
					box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
					border-radius: 5px;
					top: 60px;
					width: fit-content;
					a {
						padding: 5px 20px;
						display: block;
						border-radius: 5px;
					}

					.notification {
						padding: 1rem;
						.notif-actions {
							button {
								margin: 5px;
							}
						}
					}
				}
				.n-box {
					width: 300px !important;
					button {
						font-size: 1rem;
						padding: 0 20px;
						border: none;
						min-height: 30px;
						color: white;
						font-weight: 500;
						border-radius: 0.25rem;
						&:focus {
							outline: none;
						}
						&:hover {
							cursor: pointer;
						}
						box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.3);
						&:disabled {
							background-color: #bbb;
						}
						&:active {
							transform: translateY(2px);
						}
					}
					.accept {
						background-color: #19c419;
					}
					.reject {
						background-color: red;
					}
				}
				&:hover .dropdown-box {
					display: block;
					& > *:hover {
						background-color: #f5f5f5;
					}
				}
			}
		}
	}
}
