.projectcard {
	background: #fff;
	border-radius: 10px;
	border: 2px solid #eee;
	box-shadow: 0 0.5em 1em -0.125em #10101020;
	cursor: pointer;
	.body {
		padding: 1.5em;
		border-bottom: 1px solid #ddd;
	}
	.footer {
		padding: 5px 10px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	.footer-img img {
		border-radius: 50%;
		width: 2.5rem;
		padding: 0 2px;
	}
}
