.projectcard {
	margin: 1rem;
	width: 30%;
	// height: fit-content;
	min-height: 100%;
	cursor: pointer;
	.is-flex {
		justify-content: space-between;
	}
	.dropdown-trigger .is-small {
		display: none;
	}
	.dropdown-trigger button {
		border-radius: 50%;
	}
}
