@import url("https://css.gg/close.css");
@import url("https://css.gg/user.css");
@import url("https://css.gg/user-add.css");
.danger {
	background-color: red !important;
}
.tab {
	background-color: #fbfbfb;
	display: flex;
	flex-direction: column;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	width: 85%;
	// height: 80%;
	box-shadow: -1px 4px 20px -6px rgba($color: #000000, $alpha: 0.4);
	border-radius: 1rem;
	overflow: hidden;
	.top-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		h1 {
			font-size: 1.75rem;
			margin: 1.5rem 3rem;
			font-weight: 600;
			text-transform: uppercase;
			color: #886eef;
		}
		button {
			border: none;
			background-color: transparent;
			&:hover {
				cursor: pointer;
			}
			&:focus {
				outline: none;
			}

			.menu {
				position: absolute;
				top: 100%;
			}
		}
		svg {
			margin: 1.5rem 3rem;
			padding: auto;
			fill: rgba($color: #7b5fe3, $alpha: 0.75);
		}
		border-bottom: 0.2rem solid #8164ee;
	}
	.bod {
		display: flex;
		height: 90%;
		bottom: 0;
		.left-bar {
			// margin-left: 3rem;
			// margin-top: 3rem;
			// margin-bottom: 1rem;
			margin: 3rem;
			padding-right: 2rem;
			display: flex;
			width: 30%;
			flex-direction: column;
			justify-content: flex-start;

			ul {
				list-style: none;
				li {
					padding-right: 2rem;
					margin-bottom: 0.5rem;
					display: flex;
					justify-content: space-between;
					p {
						padding: 0;
						margin: 0;
						color: #677097;
					}
					img {
						height: 1.6rem;
						width: 1.6rem;
						border-radius: 50%;
					}
				}
			}
			.title {
				font-weight: 500;
				color: rgba($color: #677097, $alpha: 0.67);
				margin-bottom: 1rem;
			}
			.desc {
				margin-bottom: 6rem;
				.body {
					color: #677097;
					font-weight: 200;
				}
			}
			.deadline {
				margin-bottom: 6rem;
				.body {
					color: #f4841d;
				}
			}
		}
		.right-bar {
			border-radius: 0 0 1rem 0;
			width: 70%;
			box-shadow: 1px 1px 10px 1px rgba($color: #000000, $alpha: 0.3);

			h2 {
				color: #886eef;
				font-weight: 400;
				padding: 4rem;
			}

			.menu {
				width: auto;
				height: auto;
				display: flex;
				padding: 3rem;

				flex-wrap: wrap;

				.menu-row {
					width: 100%;
					margin: 0.75rem;
					input,
					textarea {
						font-size: 1.2em;
						padding: 5px 10px;
						width: 100%;
						border-radius: 10px;
						&:focus {
							outline: none;
						}
						border: none;
					}
				}
				.btnholder {
					text-align: center;
					width: 100%;
					button {
						font-size: 1rem;
						border: none;
						padding: 10px 20px;
						background-color: #7e60ee;
						color: white;
						font-weight: 500;
						border-radius: 0.25rem;
						&:focus {
							outline: none;
						}
						&:hover {
							cursor: pointer;
						}
						box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.3);
						&:disabled {
							background-color: #bbb;
						}
					}
				}

				.rename-option {
					height: 15%;
				}

				.desc-option {
					height: 30%;
				}

				.collaborators-option {
					.collaborator {
						margin-top: 1rem;
						margin-bottom: 1rem;
						width: 100%;
						display: flex;
						justify-content: space-between;
						align-content: space-between;
						padding: 5px;

						button {
							font-size: 1rem;
							padding: 0 20px;
							border: none;
							min-height: 30px;
							background-color: #7e60ee;
							color: white;
							font-weight: 500;
							border-radius: 0.25rem;
							&:focus {
								outline: none;
							}
							&:hover {
								cursor: pointer;
							}
							box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.3);
							&:disabled {
								background-color: #bbb;
							}
							&:active {
								transform: translateY(2px);
							}
						}
						

						.profile {
							display: flex;
							align-items: center;
							height: 40px;
							img,
							svg {
								width: 40px;
								height: 40px;
								border-radius: 30%;
							}
							span {
								display: flex;
								gap: 10px;
								padding: 0 20px;
							}
						}
					}
				}
			}
		}
	}
}
