.projectcard {
	background: #fff;
	border-radius: 10px;
	min-width: 350px;
	margin-left: 0;
	box-shadow: 0 0.5em 1em -0.125em #10101020;
	cursor: pointer;
	.title {
		color: #677097;
		font-weight: 300;
		font-size: 2rem;
		margin-bottom: 0.5rem;
	}
	.subtitle {
		color: #677097;
		font-weight: 200;
		font-size: 1.2rem;
	}
	.body {
		padding: 1.5em;
		border-bottom: 1px solid #ddd;
	}
	.footer {
		padding: 5px 10px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		color: #ff6584;
	}
	.footer-img img {
		margin-top: 0.3rem;
		border-radius: 50%;
		width: 2.5rem;
		padding: 0 2px;
	}
}
